body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30;
  background-color: #ffffff;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(68, 19, 19, 0.2);
}

h1 {
  margin: 0;
}

.secretaria {
  text-align: center;
  
}
.professor{
  text-align: center;
}
